@media only screen and (max-width: 300px){
body{background-color: rgba(255, 95, 95, 0.973);}
}
@media only screen and (min-width: 300px){
body{background-color: rgb(66, 184, 72);}
}
@media only screen and (min-width: 768px){
body{background-color: rgb(89, 133, 184);}
}
@media only screen and (max-width: 300px){
.petit{font-size: 10px; color:rgb(172, 84, 172)}
}
@media only screen and (max-width: 768px){
.moyen{font-size: 15px; color: rgb(40, 82, 68);}
}
@media only screen and (min-width: 768px){
.grand{font-size: 20px;color: rgb(3, 2, 2);}
}